{% extends 'base.html'%} {% load crispy_forms_tags %} {% block body %}

<h1 class="text-center">Welcome To Profile Page</h1>


<br />
<div class="text-center mx-auto" style="width: 600px; height: 100%">
  <h6 class="text-start ms-5 ps-5">
    <a class="btn btn-info" href="{% url 'passchange' %}"
      >Change Your Password</a
    >
  </h6>
  <h6 class="text-start ms-5 ps-5">
    <a class="btn btn-warning" href="{% url 'passchange2' %}"
      >Change Your Password Without Old Password</a
    >
  </h6>
</div>
{% endblock %}